:root {
	--selection-text-colour: #fff;
	--bg-colour: #282828;
	--bg-accent-colour: #1b1b1b;
	--primary-colour: #08a8e6;
	--secondary-colour: #08a8e6;
	--text-colour: #fff;
	--link-colour: rgba(255, 255, 255, .5);
	--link-hover-colour: rgba(255, 255, 255, .75);
	--horizontal-rule-colour: rgba(255, 255, 255, 1);
	--border-colour: rgba(255, 255, 255, .5);
	--code-colour: rgba(255, 255, 255, 0.875);
	--code-attention-colour: rgba(255, 255, 255, 0.875);
	--light-font-colour: rgba(255, 255, 255, .5);
	--heading-colour: var(--text-colour);
	--subheading-colour: var(--secondary-colour);
	--code-bg-colour: var(--bg-accent-colour);
	--nav-title-colour: var(--heading-colour);
	--nav-title-align: center;
	--nav-title-size: 1.25rem;
	--nav-title-font-weight: 600;
	--nav-list-margin-left: 2em;
	--nav-bg-colour: var(--bg-accent-colour);
	--nav-heading-display: block;
	--nav-heading-colour: rgba(255, 255, 255, 1);
	--nav-link-colour: var(--link-colour);
	--nav-text-colour: rgba(255, 255, 255, .75);
	--nav-type-class-colour: rgb(255, 205, 150);
	--nav-type-class-bg: rgb(200, 100, 0);
	--nav-type-member-colour: rgb(153, 202, 153);
	--nav-type-member-bg: rgb(7, 46, 7);
	--nav-type-function-colour: rgb(124, 215, 255);
	--nav-type-function-bg: rgb(0, 45, 65);
	--nav-type-namespace-colour: #ff9764;
	--nav-type-namespace-bg: rgb(60, 30, 0);
	--nav-type-typedef-colour: rgb(226, 195, 239);
	--nav-type-typedef-bg: rgb(75, 25, 95);
	--nav-type-module-colour: rgb(226, 195, 239);
	--nav-type-module-bg: rgb(75, 25, 95);
	--nav-type-event-colour: rgb(225, 215, 154);
	--nav-type-event-bg: rgb(50, 45, 15);
	--max-content-width: 900px;
	--nav-width: 340px;
	--padding-unit: 30px;
	--layout-footer-colour: rgba(255, 255, 255, .75);
	--member-name-signature-display: none;
	--base-font-size: 16px;
	--base-line-height: 1.7;
	--body-font: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--code-font: Consolas, Monaco, 'Andale Mono', monospace;
}

::selection {
	background-color: var(--primary-colour);
	color: var(--selection-text-colour);
}

::-webkit-scrollbar {
	width: 0.85rem;
	height: 0.85rem;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	cursor: pointer;
	border: 3px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

header::-webkit-scrollbar-thumb,
blockquote::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .375);
}

body {
	background-color: var(--bg-colour);
	font-family: var(--body-font);
	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
	color: var(--text-colour);
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
}

a {
	text-decoration: none;
	color: var(--link-colour);
}

a:hover,
a:active {
	color: var(--link-hover-colour);
	text-decoration: none;
}

img {
	max-width: 100%;
}

img+p {
	margin-top: 1em;
}

ul {
	margin: 1em 0;
}

tt,
code,
kbd,
samp {
	font-family: var(--code-font);
}

code {
	display: inline-block;
	background-color: var(--code-bg-colour);
	padding: 1px 6px;
	margin: 2px 0;
	border-radius: 6px;
	color: var(--code-attention-colour);
}

a code,
.method-returns a code {
	color: var(--link-colour);
}

.prettyprint.source code:not([class*="language-"]) {
	display: block;
	padding: 20px;
	overflow: scroll;
	color: var(--code-colour);
}

.layout-main,
.layout-footer {
	margin-left: var(--nav-width);
}

.container {
	max-width: var(--max-content-width);
	margin-left: auto;
	margin-right: auto;
}

.layout-content--source .container {
	max-width: calc(2 * var(--max-content-width));
}

.layout-main {
	margin-top: var(--padding-unit);
	margin-bottom: var(--padding-unit);
	padding: 0 var(--padding-unit);
}

.layout-header {
	background: var(--nav-bg-colour);
	position: fixed;
	padding: 0 var(--padding-unit);
	top: 0;
	left: 0;
	right: 0;
	width: var(--nav-width);
	height: 100%;
	overflow: auto;
}

.layout-header h1 {
	display: block;
	margin: 0.875em 0;
	font-size: var(--nav-title-size);
	font-weight: var(--nav-title-font-weight);
	text-align: var(--nav-title-align);
}

.layout-header h1 a:link,
.layout-header h1 a:visited {
	color: var(--nav-title-colour);
}

.layout-header img {
	max-width: 120px;
	display: block;
	margin: 1.75em auto 0 auto;
}

.layout-nav {
	margin-bottom: 2rem;
}

.layout-nav ul {
	margin: 0 0 var(--nav-list-margin-left);
	padding: 0;
}

.layout-nav li {
	list-style-type: none;
	font-size: 0.95em;
}

.layout-nav li.nav-heading:first-child {
	display: var(--nav-heading-display);
	margin-left: 0;
	margin-bottom: 1em;
	text-transform: uppercase;
	color: var(--nav-heading-colour);
	font-size: 0.85em;
}

.layout-nav a {
	color: var(--nav-link-colour);
}

.layout-nav a:link,
.layout-nav a a:visited {
	color: var(--nav-link-colour);
}

.nav-heading {
	margin-top: 1.25em;
	font-weight: 500;
}

.nav-heading a {
	color: var(--nav-link-colour);
}

.nav-heading a:link,
.nav-heading a:visited {
	color: var(--nav-link-colour);
}

.layout-nav a:hover,
.layout-footer a:hover,
.nav-heading a:hover,
a code:hover,
.method-returns a code:hover {
	color: var(--link-hover-colour);
}

.nav-heading .nav-item-type {
	font-size: 1em;
}

.nav-item {
	padding: 0.075rem 0;
}

.nav-item-type {
	display: inline-block;
	font-size: 1em;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
	display: inline-block;
	text-align: center;
	border-radius: 0.25em;
	margin-right: 0.5em;
}

.nav-item-type.type-class {
	color: var(--nav-type-class-colour);
	background: var(--nav-type-class-bg);
}

.nav-item-type.type-typedef {
	color: var(--nav-type-typedef-colour);
	background: var(--nav-type-typedef-bg);
}

.nav-item-type.type-function {
	color: var(--nav-type-function-colour);
	background: var(--nav-type-function-bg);
}

.nav-item-type.type-namespace {
	color: var(--nav-type-namespace-colour);
	background: var(--nav-type-namespace-bg);
}

.nav-item-type.type-member {
	color: var(--nav-type-member-colour);
	background: var(--nav-type-member-bg);
}

.nav-item-type.type-module {
	color: var(--nav-type-module-colour);
	background: var(--nav-type-module-bg);
}

.nav-item-type.type-event {
	color: var(--nav-type-event-colour);
	background: var(--nav-type-event-bg);
}

.nav-item-name.is-function:after {
	display: inline;
	content: '()';
	color: var(--nav-link-colour);
	opacity: 0.75;
}

.nav-item-name.is-class {
	font-size: 1.1em;
}

.layout-footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 0.8em;
	text-align: center;
	color: var(--layout-footer-colour);
}

.layout-footer a {
	color: var(--light-font-colour);
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	color: var(--heading-colour);
}

h5 {
	margin: 0;
	font-weight: 500;
	font-size: 1em;
}

h5+.code-caption {
	margin-top: 1em;
}

.page-kind {
	margin: 0 0 -0.5em;
	font-weight: 400;
	color: var(--light-font-colour);
	text-transform: uppercase;
}

.page-title {
	margin-top: 0;
}

.subtitle {
	font-weight: 600;
	font-size: 1.5em;
	color: var(--subheading-colour);
	margin: 1em 0;
	padding: 0.4em 0;
	border-bottom: 1px solid var(--horizontal-rule-colour);
}

.subtitle+.event,
.subtitle+.member,
.subtitle+.method {
	border-top: none;
	padding-top: 0;
}

.method-type+.method-name {
	margin-top: 0.5em;
}

.event-name,
.member-name,
.method-name,
.type-definition-name {
	margin: 1em 0;
	font-size: 1.4rem;
	font-family: var(--code-font);
	font-weight: 600;
	color: var(--primary-colour);
}

.event-name .signature-attributes,
.member-name .signature-attributes,
.method-name .signature-attributes,
.type-definition-name .signature-attributes {
	display: inline-block;
	margin-left: 0.25em;
	font-size: 60%;
	color: rgba(255, 255, 255, .5);
	font-style: italic;
	font-weight: lighter;
}

.type-signature {
	display: inline-block;
	margin-left: 0.5em;
}

.member-name .type-signature {
	display: var(--member-name-signature-display);
}

.type-signature,
.return-type-signature {
	color: rgba(255, 255, 255, .75);
	font-weight: 400;
}

.type-signature a:link,
.type-signature a:visited,
.return-type-signature a:link,
.return-type-signature a:visited {
	color: rgba(255, 255, 255, .75);
}

table {
	margin-top: 1rem;
	width: auto;
	min-width: 400px;
	max-width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--border-colour);
}

table th,
table h4 {
	font-weight: 500;
}

table th,
table td {
	padding: 0.5rem 0.75rem;
}

table th,
table td {
	border-left: 1px solid var(--border-colour);
	border-bottom: 1px solid var(--border-colour);
}

table p:last-child {
	margin-bottom: 0;
}

.readme {
	margin-top: calc(var(--padding-unit) + 10px);
}

.readme h2 {
	border-bottom: 1px solid var(--horizontal-rule-colour);
	margin: 1em 0;
	padding-bottom: 0.5rem;
	color: var(--subheading-colour);
}

.readme h2+h3 {
	margin-top: 0;
}

.readme h3 {
	margin: 2rem 0 1rem 0;
}

article.event,
article.member,
article.method {
	padding: 1em 0 1em;
	margin: 1em 0;
	border-top: 1px solid var(--horizontal-rule-colour);
}

.method-type-signature:not(:empty) {
	display: inline-block;
	background: var(--bg-accent-colour);
	color: var(--light-font-colour);
	padding: 0.25em 0.5em 0.35em;
	border-radius: 6px;
	font-weight: 300;
	font-size: 0.8rem;
	margin: 0 0.75em 0 0;
}

.method-heading {
	margin: 1em 0;
}

li.method-returns,
.method-params li {
	margin-bottom: 1em;
}

.method-returns p {
	margin: 0;
}

.event-description,
.method-description {
	margin: 0 0 2em;
}

.param-type code,
.method-returns code {
	color: var(--code-attention-colour);
}

.param-name {
	font-weight: 600;
	display: inline-block;
	margin-right: 0.5em;
}

.param-type,
.param-default,
.param-attributes {
	font-family: var(--code-font);
}

.param-default::before {
	display: inline-block;
	content: 'Default:';
	font-family: var(--body-font);
}

.param-attributes {
	color: var(--light-font-colour);
	padding-left: 0.325em;
}

.param-description p:first-child {
	margin-top: 0;
}

.param-properties {
	font-weight: 500;
	margin: 1em 0 0;
}

.param-types,
.property-types {
	display: inline-block;
	margin: 0 0.5em 0 .25em;
	color: rgba(255, 255, 255, .5);
}

.param-attr,
.property-attr {
	display: inline-block;
	padding: 0.2em 0.5em;
	border: 1px solid #eee;
	color: rgba(255, 255, 255, .75);
	font-weight: 300;
	font-size: 0.8em;
	vertical-align: baseline;
}

.properties-table p:last-child {
	margin-bottom: 0;
}

code[class*="language-"],
pre[class*="language-"] {
	text-shadow: none;
	border: none;
}

code[class*="language-"].source-page,
pre[class*="language-"].source-page {
	font-size: 0.9em;
}

.line-numbers .line-numbers-rows {
	border-right: none;
}

.source-page {
	font-size: 14px;
}

.source-page code {
	z-index: 1;
}

.source-page .line-height.temporary {
	z-index: 0;
}